/*
information obtained from the following sources:
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
https://www.w3schools.com/css/
*/
html{
	background-color: #DFEFFF;
}

body {
	font-family: 'Dancing Script', cursive, sans-serif;
	font-color: #5B6974;
}

h1 {
	font-size: 65px;
	margin: 10px;
}

h2 {
	font-size: 55px;
	margin: 10px;
}

h3 {
	font-size: 40px;
	margin: 0;
}

p {
	font-size: 30px;
}

#container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
}

.top {
	width: 100%;
	display: flex;
	border-bottom: 10px solid #3F48CC;
}

.logo {
	height: auto;
}

.intro {
	width: 50%;
	text-align: right;
	padding-right: 50px;
}

.row {
	width: 100%;
}

.main-image {
	padding-top: 20px;
	width: 100%;
}

.picture {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.featured {
	text-align: center;
	width: 100%;
	padding-top:30px;
}

.col-half {
	width: 50%;
}

.col-third {
	width: 33.33%;
}

.work {
	display: flex;
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 360px) {
	.logo {
		width: 100%;
		text-align: center;
		padding-left: 5px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.5em;
	}

	p {
		font-size: 5em;
	}

	.row {
		width: 100%;
	}

	.top {
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0;
		flex-wrap: wrap;
	}

	.picture {
		max-width: 100%;
		padding: 20px;
	}

}

@media screen and (min-width: 361px) and (max-width: 768px) {
	h3,p {
		font-size: 2em;
	}

	.col-half {
		width: 100%;
	}

	.col-third {
		width: 100%;
		padding: 20px;
}

  .work {
    max-width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }

  .picture {
    max-width: 100%;
  }
  
}